[submodule "Comp/nuke/wlf"]
	path = Comp/nuke/wlf
	url = git@github.com:WuLiFang/Nuke.git
[submodule "Comp/nuke/batchrender"]
	path = Comp/nuke/batchrender
	url = git@github.com:NateScarlet/NukeBatchRender.git
[submodule "Comp/nuke/cryptomatte"]
	path = Comp/nuke/cryptomatte
	url = git@github.com:NateScarlet/Cryptomatte.git
[submodule "Comp/nuke/tabtabtab"]
	path = Comp/nuke/tabtabtab
	url = git@github.com:NateScarlet/tabtabtab-nuke.git
[submodule "Pipeline/CGTeamWork"]
	path = Pipeline/CGTeamWork
	url = git@github.com:WuLiFang/CGTeamWork.git
[submodule "ImageRetouch/types"]
	path = ImageRetouch/types
	url = git@github.com:pravdomil/Types-for-Adobe.git
[submodule "ImageRetouch/Types-for-Adobe"]
	path = ImageRetouch/Types-for-Adobe
	url = git@github.com:pravdomil/Types-for-Adobe.git
