[submodule "Comp/nuke/wlf"]
	path = Comp/nuke/wlf
	url = https://github.com/NateScarlet/wlf_nuke_plugins.git
[submodule "Comp/nuke/batchrender"]
	path = Comp/nuke/batchrender
	url = https://github.com/NateScarlet/NukeBatchRender.git
[submodule "Comp/nuke/cryptomatte"]
	path = Comp/nuke/cryptomatte
	url = https://github.com/NateScarlet/Cryptomatte.git

[submodule "Comp/nuke/tabtabtab"]
	path = Comp/nuke/tabtabtab
	url = https://github.com/NateScarlet/tabtabtab-nuke.git
[submodule "Pipeline/CGTeamWork"]
	path = Pipeline/CGTeamWork
	url = git@github.com:WuLiFang/CGTeamWork.git
