[req]
default_bits       = 4096
default_keyfile    = CA.pem
distinguished_name = req_distinguished_name
x509_extensions = v3_req
prompt = no
[req_distinguished_name]
C = CN
ST = 北京
L = 通州
CN = NateScarlet
[v3_req]
basicConstraints = critical, CA:TRUE
keyUsage = critical, keyCertSign, cRLSign